{% for c in comments.items %}
{% if c is not iterable %}
{% set comment = c %}
{% else %}
{% set comment = c[0] %}
{% set cstatus = c[1] %}
{% endif %}
<!-- 一个回复 -->
<li class="media topic-list">
    <!-- 点赞 -->
    <div class="pull-left">
        <div class="vote comment" id={{comment.id}}>
            <button class="up {%if cstatus==True %}select{% endif%}"><i class="fa fa-angle-up fa-lg"></i></button>
            <div class="count">{{comment.vote}}</div>
            <button class="down {%if cstatus==False %}select{% endif%}"><i class="fa fa-angle-down fa-lg"></i></button>
        </div>
    </div>
    <!-- 内容 -->
    <div class="media-body">
        <p class="text-muted">
            <span><a href="/profile/{{comment.user}}">{{comment.user.name}}</a> • </span>
            <span>{{comment.creat_time}}</span>
            <span>#{{comment.floor}}</span>
        </p>
        <p class="media-heading">
            {{comment.content | safe}}
        </p>
    </div>
</li>
<!-- end一个回复 -->
{% endfor %}
{% import "macro.html" as macro %}
{{ macro.pager(request.path, comments.total, comments.per_page, comments.page)}}
