<div class="panel panel-default">
    <div class="panel-heading">社区状态</div>
    <div class="panel-body media">
        <div class="media-body">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="80" align="left"><span class="gray">注册用户</span></td>
                    <td width="auto" align="left"><strong>{{info.people}}</strong></td>
                </tr>
                <tr>
                    <td width="80" align="left"><span class="gray">帖子数量</span></td>
                    <td width="auto" align="left"><strong>{{info.thread}}</strong></td>
                </tr>
                <tr>
                    <td width="80" align="left"><span class="gray">评论数量</span></td>
                    <td width="auto" align="left"><strong>{{info.comment}}</strong></td>
                </tr>
                <tr>
                    <td width="80" align="left"><span class="gray">投票数量</span></td>
                    <td width="auto" align="left"><strong>{{info.vote}}</strong></td>
                </tr>
            </table>
        </div>
    </div>
</div>
