<div class="panel" id="editor">
    <div class="panel-heading">发表新帖</div>
    <div class="panel-body">
        <div id="response"></div> 
        <form role="form" method="POST">
            <div class="form-group">
                <label for="name">标题</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="name">板块</label>
                <select name="node" class="form-control">
                    {% if thisnode %}
                        <option value="{{thisnode.id}}">{{thisnode.name}}</option>
                    {% else %}
                        {% for node in nodes if not node.deleted %}
                        <option value="{{node.id}}">{{node.name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="name">正文</label>
                <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
                <textarea class="form-control ckeditor" rows="3" name="content"></textarea>
            </div>
            <a class="btn btn-primary pull-right" id="submit">提交</a>
        </form>
    </div>
</div>
<script type="text/javascript">
$(function() {
    $('#submit').click(function() {
        for (instance in CKEDITOR.instances)
            CKEDITOR.instances[instance].updateElement();
        $.ajax({
            url: '/thread',
            data: $('form').serialize(),
            type: 'POST',
            dataType: 'json',
            success: function(res) {
                if (res.success == undefined) {
                    alert(res.error);
                } else {
                    alert('帖子发送成功');
                    location.reload();
                }
            },
            error: function(error) {
                console.log(error);
                alert('server error');
            }
        });
    });
});
</script>
